body {
    background-color: #e3e7ed;
    font: 14px Arial;
    margin-top: 0;
    background: url('Images/background.png') repeat;
}

#body {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

a:link {
    text-decoration: none;
    color: #CF3D02;
    font-size: 12px;
}
a:hover {
    color: grey;
}
a:visited {
    color: #CF3D02;
}

#main-content {
    padding: 5px 5px 5px 5px;

}

header {
    border-bottom: 10px solid #CF3D02;
    padding: 25px;
}

footer {
    background: linear-gradient(#565656, #232323);
    color: #eeeeee;
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo {
    background: url('Images/logo.png');
    width: 250px;
    height: 45px;
}

#top-menu {
    height: 40px;
    background: linear-gradient(#eeeeee,#ffffff);
    line-height: 40px;
    border-bottom: 1px solid #b5b5b5;
}

#categories-list-header a {
    color: #CF3D02;
    font-size: 12px;
    text-decoration: none;
}

#categories-list-header ul {
    margin: 0 auto;
    margin-left: -30px;
    float: left;
}

    #categories-list-header ul li {
        display: inline;
        margin-right: 3px;
        margin-left: 3px;
        list-style-type: none;
    }

/* CENTER PANEL */

#center-panel {
    float: left;
}

.article {
    margin-left: 5px;
    width: 650px;
    margin-bottom: 50px;
    height: 220px;
}

    .article a {
        text-decoration: none;
        font: bold 20px Arial;
        color: #565656;
    }

        .article a:hover {
            color: #CF3D02;
        }

    .article .dateAdded {
        margin-top: -10px;
        margin-left: 5px;
        font-size: 11px;
    }

    .article .thumb {
        background-color: #eee;
        padding: 5px;
        border: 1px solid #DDDBDB;
        float: left;
        margin-right: 10px;
    }

    .article .readmorebtn {
        float: right;
        font-size: 13px;
        color: #CF3D02;
        margin-right: 10px;
    }

        .article .readmorebtn:hover {
            color: #565656;
        }

    .article .content {
        font-size: 13px;
    }


.accordion-menu {
    margin-left: 10px;
    margin-top: 20px;
    width: 200px;
    background-color: #eee;
    padding-right: 10px;
    border: 1px solid #ccc;
    float: left;
    margin-bottom: 10px;
}

    .accordion-menu .header {
        margin-top: 0px;
        background: linear-gradient(#FF6629,#D43D00);
        color: white;
        width: 200px;
        font-weight: bold;
        border-bottom: 1px solid #ccc;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }

.accordion {
    margin-left: 10px;
    text-align: center;
}

    .accordion h5 {
        cursor: pointer;
        font-size: 13px;
        font-weight: normal;
        width: 210px;
        border-bottom: 1px solid #ccc;
        margin-left: -10px;
        margin-top: 10px;
        height: 25px;
        line-height: 10px;
        margin-bottom: 0px;
    }

    .accordion div {
        border-bottom: 1px solid #ccc;
        background-color: #fff;
        padding: 5px;
        width: 200px;
        margin-left: -10px;
        margin-top: 0px;
    }

.ui-accordion-header {
    outline: none;
}

.accordion h5:focus {
    cursor: pointer;
}


.hidden {
    display: none;
}
/* SLIDER */

#slider-container {
    background-color: #eee;
    width: 650px;
    border: 1px solid #DDDBDB;
    padding: 5px;
    float: left;
}

    #slider-container ul li {
        list-style: none;
    }

.slider-header {
    background-color: #fff;
    border: 1px solid #DDDBDB;
    padding: 15px 0px 15px 15px;
}

    .slider-header a {
        text-decoration: none;
        font: bold 20px Arial;
        color: #565656;
    }

        .slider-header a:hover {
            color: #CF3D02;
        }

#thumbnail {
    width: 300px;
    background-color: #eee;
    padding: 5px;
    border: 1px solid #DDDBDB;
    float: left;
    margin-right: 20px;
    margin-top: 5px;
}

#slider-description {
    padding-right: 10px;
    font-size: 13px;
}

.slider-pagination {
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
    margin-bottom: 30px;
    margin-left: 300px;
}

    .slider-pagination li {
        float: left;
        border-radius: 10px;
        width: 10px;
        height: 10px;
        border: 1px solid white;
        background: #808080;
    }

        .slider-pagination li.active {
            background: #CF3D02;
        }

/* RIGHT PANEL */

#editors-choice {
    border: 1px solid #ccc;
    width: 288px;
    margin-top: 20px;
}

    #editors-choice .header {
        background: linear-gradient(#FF6629,#D43D00);
        height: 35px;
        margin-top: 0;
        line-height: 35px;
        padding-left: 10px;
        color: white;
        font-weight: bold;
    }

    #editors-choice a {
        text-decoration: none;
        color: #CF3D02;
        font-size: 12px;
    }

        #editors-choice a:hover {
            color: grey;
        }

#right-panel {
    float: right;
}

#right-nav {
    border: 1px solid #DDDBDB;
    width: 288px;
    float: right;
    margin-right: 5px;
}

.right-nav-content {
    display: none;
}

.current-nav {
}

#right-nav #headers {
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
}

    #right-nav #headers a {
        text-decoration: none;
        padding: 8px 11px;
        line-height: 30px;
        color: grey;
        font-size: 11px;
        margin-right: -4px;
    }

        #right-nav #headers a:hover {
            background-color: #f0f0f0;
        }


        #right-nav #headers a:active {
            color: grey;
        }

#right-nav a {
    text-decoration: none;
    color: #CF3D02;
    font-size: 12px;
}

    #right-nav a:hover {
        text-decoration: none;
        color: grey;
        font-size: 12px;
    }

.current-header {
    background-color: #f0f0f0;
}

.small-thumbnail {
    background-color: #eee;
    padding: 5px;
    border: 1px solid #DDDBDB;
    width: 70px;
    height: 50px;
    float: left;
    margin-bottom: 10px;
}

.small-article {
    margin-left: 15px;
    clear: both;
}

    .small-article p {
        margin-left: 90px;
        padding-top: 5px;
        padding-bottom: 25px;
    }

/* FORMS */

input[type="button"]:disabled, input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: default;
}
input[type="button"]:disabled:hover, input[type="submit"]:disabled:hover {
    opacity: 0.5;
    cursor: default;
    background: linear-gradient(#FF723A,#CF3D02);
}

input[type="button"], input[type="submit"] {
    color: white;
    font-size: 14px;
    text-shadow: 1px 1px 5px #000;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background: linear-gradient(#FF723A,#CF3D02);
    border: 1px solid #565656;
    border-radius: 3px;
    cursor: pointer;
}

    input[type="button"]:hover, input[type="submit"]:hover {
        background: linear-gradient(#CF3D02,#FF723A);
    }

#create-article-content {
    padding-left: 20px;
    margin-bottom: 20px;
}

.form-label {
    font-size: 14px;
}

    .form-label.invalid {
        color: red;
    }

.form-control {
    width: 300px;
    height: 34px;
    padding-left: 7px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .form-control:focus {
        outline: none;
        border-color: #0890ff;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(8,144,255,0.5);
        -moz-box-shadow: 0px 0px 5px 1px rgba(8,144,255,0.5);
        box-shadow: 0px 0px 5px 1px rgba(8,144,255,0.5);
    }

    .form-control.invalid {
    }

        .form-control.invalid:focus {
            outline: none;
            border-color: #0890ff;
            -webkit-box-shadow: 0px 0px 5px 1px rgba(8,144,255,0.5);
            -moz-box-shadow: 0px 0px 5px 1px rgba(8,144,255,0.5);
            box-shadow: 0px 0px 5px 1px rgba(8,144,255,0.5);
        }

.fileUpload {
    width: 50px;
    height: 30px;
    line-height: 30px;
    position: relative;
    overflow: hidden;
    color: white;
    text-shadow: 1px 1px 5px #000;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background: linear-gradient(#FF723A,#CF3D02);
    border: 1px solid #565656;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 13px;
    margin-left: 315px;
}

    .fileUpload:hover {
        background: linear-gradient(#CF3D02,#FF723A);
    }

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
        opacity: 0;
    }

.form-control-text {
    width: 600px;
    height: 100px;
    max-height: 100px;
    max-width: 600px;
    padding-left: 7px;
    padding-top: 5px;
    font: 14px Arial;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .form-control-text:focus {
        outline: none;
        border-color: #0890ff;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(8,144,255,0.5);
        -moz-box-shadow: 0px 0px 5px 1px rgba(8,144,255,0.5);
        box-shadow: 0px 0px 5px 1px rgba(8,144,255,0.5);
    }

    .form-control-text.invalid {
    }

        .form-control-text.invalid:focus {
            outline: none;
            border-color: #0890ff;
            -webkit-box-shadow: 0px 0px 5px 1px rgba(8,144,255,0.5);
            -moz-box-shadow: 0px 0px 5px 1px rgba(8,144,255,0.5);
            box-shadow: 0px 0px 5px 1px rgba(8,144,255,0.5);
        }

.user-register-form {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.article-read {
    padding: 10px;
}

.category {
    margin-right: 5px;
}

    .category:before {
        content: url('Images/category-before.png');
        padding-right: 2px;
    }

.date:before {
    content: url('Images/date-before.png');
    padding-right: 2px;
}

.writtenby {
    font-size: 11px;
    margin-right: 5px;
}

    .writtenby:before {
        content: url('Images/written-before.png');
        padding-right: 2px;
    }

.views:before {
    content: url('Images/views-before.png');
    padding-right: 2px;
}

#comments-container {
    float: right;
    margin-right: 10px;
    margin-top: 40px;
    width: 400px;
}

#comments {
    margin-top: 10px;
}

#new-comment-body {
    float: left;
    margin-top: 40px;
}

.category-article {
    width: 220px;
}

.category-article p {
    margin: 0;
}

.category-article .small-thumbnail {
    margin-right: 10px;
}

.category-article a {
    text-decoration: none;
    color: #CF3D02;
    font-size: 12px;
}

    .category-article a:hover {
        text-decoration: none;
        color: grey;
        font-size: 12px;
    }

.category-articles-list {
    width: 1000px;
    padding: 20px;
}

#login-partial {
    float: right;
    margin-right: 10px;
}

/* ADMIN PANEL */
#admin-panel {
    float: left;
    margin: 0;
    padding: 0px;
    margin-top: -5px;
    margin-bottom: -6px;
}

#admin-panel-nav {
    float: left;
    width: 170px;
    background: #555;
    margin: -5px;
    color: #aaa;
    height: 100%;
}

#admin-panel-nav ul {
    padding: 0;
    margin: 0px;
    height: 100%;
}

#admin-panel-nav ul li {
    list-style-type: none;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #494949;
    border-top: 1px solid #5e5e5e;
}
.current  {
    border-left: 4px solid #cf3d02;
}

#admin-panel-nav ul li a {
    color: #aaa;
    margin: 0px; display: block;
    padding-left: 5px;
}
#admin-panel-nav ul li a img {
    margin-right: 5px;
    width: 16px;
    height: 15px;
}
#admin-panel-nav ul li a:hover {
    background-color: #505050;
    color: #ccc;
}
#admin-panel-nav ul li a:focus {
    outline: none;
}

.admin-panel-content {
    float: left;
    margin-left: 10px;
}

.admin-panel-box {
    float: left;
}

.list-table {
    list-style-type: none;
    border: 1px solid #ccc;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 5px;
    width: 380px;
}

.list-table li {
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    color: #fff;
}

.expanded {
    border-bottom: 1px dashed #ccc;
}

.list-table .expand {
    margin: 0px; display: block;
    color: #000;
    padding-left: 5px;
}

.list-table .article-comments {
    margin: 0px; display: block;
    color: #000;
    padding-left: 5px;
}

.list-table li:hover {
    background-color: #eeeeee;
}


.list-table li:nth-child(4n+1) {
    background-color: #e55a2b;
}

.list-table li:nth-child(4n+1):hover {
    background-color: #ff6633;
}

.list-table li:nth-child(2n) {
    border-bottom: 1px solid #ccc;
}

.list-table li:nth-child(2n):hover {
    background-color: #fff;
}

.icons img {
    margin-top: 3px;
    margin-left: 5px;
    cursor: pointer;
}

a.delete-comment {
    float: right;
}